@media only screen and (max-width: 1400px) {
    .desc-overflow{
        width:55%;
    }
    .chart-col{
        width:45%;
    }
   #main-rate{
       font-size: 48px;
   } 
   .pnd-rate{
       padding: 10px;
   }
   .pnd-text{
       font-size: 16px;
   }
   .break-down-text-col{
    font-size: 16px;
    }
}

@media only screen and (max-width: 1024px) {
    .desc-overflow{
        width:100%;
        height: unset;
        /* padding: 50px 0; */
        /* padding-top: 120px; */
    }
    .chart-col{
        width:100%;
        height: unset;
    }
    
}


@media only screen and (max-width: 600px) {
    .desc-overflow{
        width:100%;
        height: unset;
        /* padding: 50px 0; */
        /* padding-top: 120px; */
    }
    .chart-col{
        width:100%;
        height: unset;
    }
    .break-down-row h3{
        font-size: 28px;
    }
    .break-down-text-col{
        margin-top: 0;
        padding: 20px;
    }
    .break-down-graph{
        display:none;
    }
    .desc-row1{
        flex-direction: column;
    }
    .desc-row2{
        margin:0;
    }
    .pnd-rate{
        flex-direction: row;
    }
    .pnd-text{
        width:100%;
        text-align: center
    }
}