@media only screen and (max-width: 1400px) {
    .desc-overflow{
        width:55%;
    }
    .chart-col{
        width:45%;
    }
    .chart{
        flex-direction: column;
    }
    .chart-desc{
        width:100%;
        max-width: 800px;
    }
   #main-rate{
       font-size: 48px;
   } 
   .pnd-rate{
       padding: 10px;
   }
   .pnd-text{
       font-size: 16px;
   }
   .break-down-text-col{
    font-size: 16px;
    }
    #mapLegend{
        width:50%;
    }
}

@media print, screen and (max-width: 1024px) {
    .desc-overflow{
        width:100%;
        height: unset;
        /* padding: 50px 0; */
        /* padding-top: 120px; */
    }
    .pre-query.started{
        right:0px;
    }
    .map-row{
        height: 70vh;
        padding: 15px 30px;
  
        background: #003f5c;
    }
    #theMap{
        border: solid 1px #9FCEDD;
        box-shadow: 0 0 5px #111;
        border-radius: 4px;
        width: 100%;
    }
    .chart-col{
        width:100%;
    }
    
}

@media only screen and (max-width: 800px) {
    .desc-col h1{
        text-align: left;
        margin:0 20px;
        margin-top:10px;
    }

}

@media only screen and (max-width: 600px) {
    
    .desc-col h1{
        font-size: 20px;
        width: 70%;
        border-bottom: none;
        margin-top: 5px;
        /* min-width: ; */
    }
    .desc-overflow{
        width:100%;
        height: unset;
        /* padding: 50px 0; */
        /* padding-top: 120px; */
    }
    .chart-col{
        width:100%;
        height: 70vh;
    }
    .break-down-row h3{
        font-size: 28px;
    }
    .break-down-text-col{
        margin-top: 0;
        padding: 20px 0;
    }
    .break-down-graph{
        display:none;
    }
    .desc-row1{
        flex-direction: column;
    }
    .desc-row2{
        margin:0;
    }
    .desc-row3{
        padding:20px 0px;
    }
    .chart-desc{
        padding: 0 20px;
    }
    .pnd-rate{
        flex-direction: row;
    }
    .pnd-text{
        width:100%;
        text-align: center
    }
    #mapLegend{
        width:100%;
        right:0;
        bottom: 0;
    }
}